<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/styles/highlight.css" />
    <link rel="stylesheet" type="text/css" media="print" href="/styles/print.css">
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <title> <!-- inserted by the title widget --> </title>
  </head>
  <body>
    <div id="page-wrapper">
      <nav id="nav-wrapper">
          <a name="menu" />
          <div id="top-link">
              <a class="nav" href="#menu-link">↑ Top of the page </a>
          </div>
          <div id="nav">
            <!-- templates/sections.inc is inserted here -->
          </div>
      </nav>
      <div id="content-wrapper">
        <div id="menu-link">
          <a class="nav" id="menu-link" href="#menu">Site menu ↓</a>
        </div>
	<div id="breadcrumbs"> </div>
        <div id="content">
          <!-- page content from site/*/*.inc goes here -->
        </div>
      </div>
    </div>
  </body>
</html>
