/** Fixups */

/* Avoid elements wider than screen on mobile */
img
{
    display: inline-block;
    max-width: 100%;
}

pre, code, sample
{
    white-space: pre-wrap;
    hyphens: none;
}

table
{
    max-width: 100%;
}


body
{
    margin: 0;
}

/** Structural blocks */

#page-wrapper
{
    max-width: 1000px;

    padding-top: 2%;
    padding-bottom: 4%;
    
    margin-left:  auto; 
    margin-right: auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
}


#nav-wrapper
{
    width: 100%;
    border-top: #006699 solid 1px;
    border-bottom: #006699 solid 1px;
}

#nav
{
    margin-top: 1%;
    margin-bottom: 1%;

    margin-left: 2%;
    margin-right: 2%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Make auxilliary "Site menu" and "Top of the page" link invisible on desktop */
#menu-link, #top-link
{
    display: none;
}

/* Mobile device only */
@media (pointer: coarse)
{

     /*
       Swap the blocks so that the navigation menu is at the bottom,
       this simplistic solution works because there are only two
       top level blocks
     */
    #page-wrapper
    {
        flex-direction: column-reverse;
    }

    /* Avoid double border when the nav menu is at the bottom */
    #nav-wrapper
    {
        border-top: none;
    }

    /* Make nav links larger and place them vertically */
    #nav
    {
        flex-direction: column;
        font-size: 120%;
    }

    #breadcrumbs
    {
        font-size: 120%;
    }

    /*
      The mobile-exclusive "Site menu" and "Top of the page" links
      for getting to the menu and back quickly
    */
    #menu-link, #top-link
    {
        width: 100%;
        display: block;
        text-align: right;
        font-size: 120%;
        padding-bottom: 0.5em;
    }
}

#content
{
    padding: 2%;
    min-height: 20em;
    border-bottom: #006699 solid 1px;
}

/** Typography */

@supports (hyphens: auto) or (-ms-hyphens: auto)
{
    #content
    {
        text-align: justify;
        hyphens: auto;
    }
}

body
{
    font-family: sans-serif;
}

/** Misc visual styles */

/* Links */
a, a.nav:visited
{
    color: #006699;
}

a:visited
{
    color: #355670;
}

hr
{
    height: 1px;
    border: 0 none;
    color: #006699;
    background-color: #006699;
    width: 40%;
    margin-bottom: 2em;
    margin-top: 2em;
}

/* Tables */
table
{
    border-collapse: collapse;
}

th
{
    text-align: left;
}

table, th, td
{
   border: 1px solid #006699;
}

th, td
{
    padding: 0.5em; 
} 

.table-caption
{
    text-align: center;
}

/* Special styles */

ul.plain
{
    list-style-type: none;
}

.centered
{
    text-align: center;
}

div#revision
{
    color: #999999;
    padding-top: 1em;
    font-size: 80%;
    text-align: right;
}

div.quote-source
{
    text-align: right;
}
