body
{
    margin: 0;
    font-family: sans-serif;
}

#page-wrapper
{
    max-width: 1000px;

    padding-top: 2%;
    padding-bottom: 4%;
    
    margin-left:  auto; 
    margin-right: auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
}


#nav-wrapper
{
    width: 100%;
    border-top: #355670 solid 1px;
    border-bottom: #355670 solid 1px;
}

#nav
{
    margin-top: 1%;
    margin-bottom: 1%;

    margin-left: 2%;
    margin-right: 2%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#breadcrumbs
{
    margin-bottom: 1em;
}

@supports (hyphens: auto) or (-ms-hyphens: auto)
{
    #content
    {
        text-align: justify;
        hyphens: auto;
    }
}

#content
{
    padding: 2%; 
    min-height: 20em;
    border-bottom: #355670 solid 1px;
}

#revision
{
    color: #999999;
    padding-top: 1em;
    font-size: 80%;
    text-align: right;
}

div.quote-source
{
    text-align: right;
}

a, a.nav:visited
{
    color: #355670;
}

a:visited
{
    color: #355670;
}

hr
{
    height: 1px;
    border: 0 none;
    color: #355670;
    background-color: #355670;
    width: 40%;
    margin-bottom: 2em;
    margin-top: 2em;
}

table
{
    max-width: 100%;
    border-collapse: collapse;
}

th
{
    text-align: left;
}

table, th, td
{
   border: 1px solid #355670;
}

th, td
{
    padding: 0.5em; 
} 

.table-caption
{
    text-align: center;
}

ul.plain
{
    list-style-type: none;
}

.centered
{
    text-align: center;
}

img
{
    display: inline-block;
    max-width: 100%;
}

pre, code, sample
{
    white-space: pre-wrap;
    hyphens: none;
}
